:host{
  display: flex;
  flex-direction: column;

  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #CFD8DC;
    width: 100%;

      img {border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-top: 20px;
        }

      .text {
          text-align: center;
      }
}
  form {
      display: grid;

      .myinput input {
        margin-bottom: 20px;
        height: 30px;
        background-color: #F1F1F1;
        border-radius: 3px;
        border-width: 0;
        padding-left: 20px;
        border-radius: 5px;
    }
      button {
          grid-area: "button";
          color: white;
          background-color: #2196F3;
          border-radius: 10px;
          height: 40px;
          border-color: #2196F3;
       }

     .myinput ,.but{
      height: 60%;
      display: flex;
      flex-direction: column;
      margin: 40px;
  }

      button:hover {
      grid-area: "button";
      color: white;
      background-color: #0468ba;
      border-radius: 10px;
      height: 40px;
      border-color: #0468ba;
}

  }

  .login-message{
    text-align: center;
  }

}
