    <menu>
        <p>ALL ADS </p>
        <p>MY ADDS</p>
    </menu>

    <div id="main-content">
      <a class="btn btn-outline-primary" href="/annonce/create">
        <i class="fas fa-plus fa-sm text-white-50"></i>
        Ajouter
       </a>

        <div class="cards">
            <div class="card" *ngFor="let annonce of annonces" >
                <img src="assets/img/Portrait_Placeholder.png" alt="..." />
                <div class="card-detail">
                    <div class="card-detail-top">
                        <span class="title">{{ annonce.title }}</span>
                        <span class="description">{{ annonce.description }}</span>
                    </div>
                    <div class="card-detail-bottom">
                        <span class="hour ">Il y a {{ annonce.lastUpdated}} jours</span>
                        <span class="price">${{ annonce.price }}</span>
                    </div>
                </div>
            </div>
        </div>

        </div>
